<div class="row">
    <div class="col-md-6">
      <a routerLink="/client/{{ id }}" class="btn btn-link">
        <i class="fa fa-arrow-circle-o-left"></i> Back To Client
      </a>
    </div>
    <div class="col-md-6">
  
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      Edit Client
    </div>
    <div class="card-body">
      <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
        <div class="form-group">
          <label for="name">Name</label>
          <input 
              type="text"
              class="form-control"
              name="name"
              #userName="ngModel"
              
              [(ngModel)]="user.name"
              minlength="2"
              required
          >
  
          
        </div>
  
        <div class="form-group">
            <label for="email">Email</label>
            <input 
                type="text"
                class="form-control"
                name="email"
                #userEmail="ngModel"
                
                [(ngModel)]="user.email"
                minlength="2"
                required
            >
    
            
          </div>
  
         
  
            <input type="submit" value="Submit" class="btn btn-primary btn-block">
      </form>
    </div>
  </div>
