<div class="container-fluid">
  <section class="row">
      <div class="col-md-8">
          <h1>EMPLOYEE</h1>
      </div>
      <div class="col-md-4">
          <div class="btn-group float-right mt-2" role="group">
              <a  routerLink="/users"  class="btn btn-secondary btn-md" href="#">
                  <i class="fa fa-plus" aria-hidden="true"></i> List Users</a>
              <a routerLink="/adduser" class="btn btn-md btn-secondary" href="#">
                  <i class="fa fa-flag" aria-hidden="true"></i> Add Users</a>
          </div>
      </div>
  </section>
</div>    

<router-outlet></router-outlet>
